.economy_simulator{
    padding: 10px;
    position: relative;
    top: 100vh;
    /* border: 1px solid red; */
    background-color: rgb(6, 15, 54);
    z-index: 0;
}

.container{
    /* border: 3px solid green; */
    display: flex;
    padding: 10px;
    gap: 100px;

}

.graphic {
    padding: 10px;
    width: 70%;
    border-radius: 10px;
}

.userInputs{
    /* border: 3px solid #e9e1e1; */
    background-color: rgb(16, 25, 61);
    padding: 10px;
    width: 30%;
    display: flex;
    flex-direction: column;
    color: #ffffff;
    border-radius: 10px;
}

.userInputs div{
    margin: 10px;
    display: flex;
    flex-direction: column;
    text-align: center;
}
.userInputs div input{
    height: 30px;
    border-radius: 5px;
    background-color: #cacaca48;
    border: 2px solid #7a7a7a62;
}

.userInputs span{
    color: #ffffff;
    text-align: center;
    font-size: 1.5em;
    margin-bottom: 20px;
}

.userInputs button{
    width: 25%;
    height: 40px;
    margin-left: 38%;
    margin-top: 20px;
    background-color: #d35e10;
    border-radius: 5px;
    border: none;
    font: 1em;
    font-weight: bold;
    
}