.priceSimulation{
    background-color: rgb(6, 15, 54);
    position: relative  ;
    top: 120vh;
    z-index: 0;
}

#container{
    display: flex;
    padding: 10px;
    align-items: center;
    gap: 200px;
    /* border: 3px solid red;  */
    margin: 0 10%;;
}

#container #conteudo{
    
    width: 70%;
   
}

#container #conteudo h1{
    color: rgb(255, 255, 255);
    font-size: 4em;

}
#container #conteudo h1 span{
    color: rgb(105, 238, 165);
    font-size: inherit;
}

#container #conteudo p{
    color: #fff;
    font-size: 1.7em;
}


#container form {
    /* border: 3px solid green; */
}

#container form #formu{
    /* border: 3px solid yellow; */
    text-align: center;
    
}

#container form{
    /* border: 3px solid green; */
    background-color: #ffffff;
    border-radius: 15px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    width: 30%;
}

#container  form input{
    background-color: #cacaca48;
    border: 2px solid #7a7a7a62;
    border-radius: 5px;
    height: 40px;
    width: 100%;
    display: flex;
    margin-bottom: 20px;
    padding: 0;
}

#container  form select{
    background-color: #cacaca48;
    border: 2px solid #7a7a7a62;
    border-radius: 5px;
    height: 40px;
    width: 100%;
    display: flex;
    margin-bottom: 20px;
    padding: 0;
}
#container  form h4{
    color: #161616;
    font-size: 1.1em;
    margin-bottom: 50px;
}

#container form button{
    background-color: #d35e10;
    border: none;
    border-radius: 10px;
    width: 35%;
    height: 45px;
    color: #fff;
    margin-top: 20px;
    margin-left: 34% ;
    font-size: 1.3em;
}

@media (max-width: 920px){
   #container{
    display: block;
    margin: 0;
    padding: 0;
   }

   #container #conteudo{
    width: 100%;
   }

   #container form{
    width: 100%;
    padding: 0;
   }
}

@media (max-width: 500px){
    #container #conteudo h1{
        font-size: 2em;
    }

    #container #conteudo p{
        font-size: 1em;
    }

    #container form{
        width: 100%;
    }

    #container{
        
    }
    
}